# Questions
1. What tables and features differentiate blood-transfusion-related and non-blood-transfusion-related admittances?
2. How many hospital admittances in MIMIC-III are for blood transfusions?
3. Break down these stats by race, by gender, by other demographics
4. How common is it for a blood transfusion to be cut short?
5. What's the average/most extreme body temp difference between the start of transfusion end of transfusion? After 2 hrs? After 4? 8? 24?
6. Characterise the clinicians notes for admittances that were for blood transfusions.

In [86]:
import os
import pandas as pd
from dotenv import load_dotenv
from google.cloud import bigquery
pd.set_option('display.max_rows', None)    # Show all rows



load_dotenv()
query_path = os.environ.get('BASE_QUERY_PATH')
client = bigquery.Client(os.environ.get('BIGQUERY_PROJECT_NAME'))

In [96]:
with open(f"{query_path}/scratch.sql", 'r') as file:
    query = file.read()

results = client.query(query).to_dataframe()
results

/home/kmorhun/.pyenv/versions/3.12.7/envs/transfusion/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

    itemid                label          category dbsource  count
0     5649                PRBCS              None  carevue      1
1     5751                PRBCs              None  carevue      1
2     6256       Platelet Count              None  carevue      1
3     7597                 PRBC              None  carevue      1
4     4197         RBC(3.6-6.2)         Heme/Coag  carevue      1
5     3789  Platelet  (150-440)         Heme/Coag  carevue      1
6      833                  RBC        Hematology  carevue      1
7      828            Platelets        Hematology  carevue      1
8    42794       Pheresis - Out              None  carevue      1
9    44879      Pheresis Output              None  carevue      1
10   45750  out pt intake +prbc  Free Form Intake  carevue      1
11   30179               PRBC's              None  carevue      1
12   30104      OR Packed RBC's              None  carevue      1
13   30001         Packed RBC's              None  carevue      1
14   30004        Washed PRBC's              None  carevue      1
15   30006            Platelets              None  carevue      1
16   30007      Cryoprecipitate              None  carevue      1
17   30103               OR FFP              None  carevue      1
18   30105         OR Platelets              None  carevue      1
19   44912            pheresis.              None  carevue      1
20   45020            RBC waste              None  carevue      1
21   42710         PHERESIS EBL              None  carevue      1
22   41381       PLASMAPHERESIS  Free Form Intake  carevue      1
23   40963             pheresis  Free Form Intake  carevue      1
24   42324              er prbc  Free Form Intake  carevue      1
25   42588            VICU PRBC  Free Form Intake  carevue      1
26   42791        Pheresis - In  Free Form Intake  carevue      1
27   42185        Pre admit FFP  Free Form Intake  carevue      1
28   44172              FFP GTT  Free Form Intake  carevue      1
29   44236             E.R. FFP  Free Form Intake  carevue      1
30   42239             CC7 PRBC  Free Form Intake  carevue      1
31   43009             ffp pacu  Free Form Intake  carevue      1
32   44510  pheresis pos balanc  Free Form Intake  carevue      1
33   44511       Plasmapheresis  Free Form Intake  carevue      1
34   44515    PLASMAPHERESIS IN  Free Form Intake  carevue      1
35   44517         pheresis ivf  Free Form Intake  carevue      1
36   44528       plasmapheresis  Free Form Intake  carevue      1
37   46384   plasma pheresis in  Free Form Intake  carevue      1
38   46407              ED PRBC  Free Form Intake  carevue      1
39   46410            angio FFP  Free Form Intake  carevue      1
40   46418               ER ffp  Free Form Intake  carevue      1
41   45312     pheresis net bal  Free Form Intake  carevue      1
42   45354   OR Cryoprecipitate  Free Form Intake  carevue      1
43   46612            E.R. prbc  Free Form Intake  carevue      1
44   46684               ER FFP  Free Form Intake  carevue      1
45   40801      plasma pheresis  Free Form Intake  carevue      1
46   44819        FFP ON FARR 2  Free Form Intake  carevue      1
47   44861             Pheresis  Free Form Intake  carevue      1
48   44878      Pheresis Intake  Free Form Intake  carevue      1
49   45593  Calcium w/ pheresis  Free Form Intake  carevue      1
50   46124           er in prbc  Free Form Intake  carevue      1
51   46530            Floor FFP  Free Form Intake  carevue      1
52   46754  net pheresis intake  Free Form Intake  carevue      1
53   43902             PHERESIS  Free Form Intake  carevue      1
54   44044             FFP Drip  Free Form Intake  carevue      1
55   46122            ER in FFP  Free Form Intake  carevue      1
56   46222      Plasma pheresis  Free Form Intake  carevue      1
57   45669               ED FFP  Free Form Intake  carevue      1
58   45885     Pheresis Balance  Free Form Intake  carevue      1
59   42740           prbc in er  Free Form Intake  carevue      1
60   42186       Pre admit PRBC  Free Form Intake  carevue      1
61   41219      pheresis intake  Free Form Intake  carevue      1
62   42323               er ffp  Free Form Intake  carevue      1

## Question 1: What tables and features differentiate blood-transfusion-related and non-blood-transfusion-related admittances?

Potentially relevant tables:
* INPUTEVENTS_CV, INPUTEVENTS_MV, OUTPUTEVENTS: https://mimic.mit.edu/docs/iii/about/io/ 
* chartevents, datetimeevents, procedureevents_mv, services

NB: Timeshifting - https://mimic.mit.edu/docs/iii/about/time/#date-shifting
* Time of day, Day of week, and season(winter, spring, summer, fall) preserved
* year, exact day of month, patient overlap in ICU not preserved

NB: MIMIC Schema - https://mit-lcp.github.io/mimic-schema-spy/index.html

In [67]:
# get the types of items that can be administered to a patient
with open(f"{query_path}/types_of_items_cv.sql", 'r') as file:
    query_cv = file.read()
with open(f"{query_path}/types_of_items_mv.sql", 'r') as file:
    query_mv = file.read()

results_cv = client.query(query_cv).to_dataframe()
print(results_cv)
results_mv = client.query(query_mv).to_dataframe()
results_mv

/home/kmorhun/.pyenv/versions/3.12.7/envs/transfusion/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   itemid                label category dbsource  count
0   30179               PRBC's     None  carevue      1
1   30005  Fresh Frozen Plasma     None  carevue      1
2   30180    Fresh Froz Plasma     None  carevue      1
3   30001         Packed RBC's     None  carevue      1
4   30004        Washed PRBC's     None  carevue      1

/home/kmorhun/.pyenv/versions/3.12.7/envs/transfusion/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,itemid,label,category,dbsource,count
0,227378,Patient Location,ADT,metavision,1
1,226543,Religion,ADT,metavision,1
2,226544,Language,ADT,metavision,1
3,226545,Race,ADT,metavision,1
4,226228,Gender,ADT,metavision,1
...,...,...,...,...,...
2987,220283,Resistance,Respiratory,metavision,1
2988,228382,Total Peripheral Resistance Index (TPRI) (NICOM),NICOM,metavision,1
2989,228183,SVRI (PiCCO)_OLD_1,PiCCO,metavision,1
2990,228185,SVRI (PiCCO),PiCCO,metavision,1
2991,221733,Factor VIII,Blood Products/Colloids,metavision,1

In [80]:
#found category 'Blood Products/Colloids'
with open(f"{query_path}/all_blood_products.sql", 'r') as file:
    query = file.read()

results = client.query(query).to_dataframe()
results

/home/kmorhun/.pyenv/versions/3.12.7/envs/transfusion/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,label,itemid,category,dbsource,count
0,Packed Red Blood Cells,225168,Blood Products/Colloids,metavision,1
1,Platelets,225170,Blood Products/Colloids,metavision,1
2,Cryoprecipitate,225171,Blood Products/Colloids,metavision,1
3,Cell Saver,225173,Blood Products/Colloids,metavision,1
4,Hetastarch (Hespan) 6%,225174,Blood Products/Colloids,metavision,1
5,PACU Packed RBC Intake,227070,Blood Products/Colloids,metavision,1
6,PACU Platelet Intake,227071,Blood Products/Colloids,metavision,1
7,PACU FFP Intake,227072,Blood Products/Colloids,metavision,1
8,Fresh Frozen Plasma,220970,Blood Products/Colloids,metavision,1
9,IV Immune Globulin (IVIG),227530,Blood Products/Colloids,metavision,1
10,Dextran 40,225795,Blood Products/Colloids,metavision,1
11,Dextran 70,225796,Blood Products/Colloids,metavision,1
12,Plasma Pheresis,227532,Blood Products/Colloids,metavision,1
13,Albumin 25%,220862,Blood Products/Colloids,metavision,1
14,Albumin 5%,220864,Blood Products/Colloids,metavision,1
15,OR Colloid Intake,226365,Blood Products/Colloids,metavision,1
16,OR FFP Intake,226367,Blood Products/Colloids,metavision,1
17,OR Packed RBC Intake,226368,Blood Products/Colloids,metavision,1
18,OR Platelet Intake,226369,Blood Products/Colloids,metavision,1
19,OR Autologous Blood Intake,226370,Blood Products/Colloids,metavision,1
20,OR Cryoprecipitate Intake,226371,Blood Products/Colloids,metavision,1
21,OR Cell Saver Intake,226372,Blood Products/Colloids,metavision,1
22,PACU Colloid Intake,226376,Blood Products/Colloids,metavision,1
23,Factor VIIa,225914,Blood Products/Colloids,metavision,1
24,Profilnine,225915,Blood Products/Colloids,metavision,1
25,Factor VIII,221733,Blood Products/Colloids,metavision,1

In [68]:
# as per our esteemed clinician's advice, we will use the following blood products:
chosen_blood_products_mv = (225168, 225170, 225171, 227070, 227071, 227072, 220970, 227532, 226367, 226368, 226369, 226371)
chosen_blood_products_cv = (30179, 30001, 30004, 30005, 30180)
with open(f"{query_path}/count_blood_inputs.sql", 'r') as file:
    query = file.read()

results = client.query(query).to_dataframe()
results

/home/kmorhun/.pyenv/versions/3.12.7/envs/transfusion/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE
0,3247771,51121,183688,214425,2124-05-23 03:00:00,2124-05-23 04:11:00,225825,4.733333,ml,4.000000,...,ml,0,0,0,Paused,None,None,NaT,38.000000,4.000000
1,203290,77427,163354,244787,2139-11-23 12:30:00,2139-11-23 12:37:00,225825,31.689280,ml,271.622400,...,ml,0,0,0,Changed,None,None,NaT,235.406110,271.840000
2,202734,77427,163354,244787,2139-11-22 13:30:00,2139-11-22 13:44:00,225825,2.537849,ml,10.876496,...,ml,0,0,0,Changed,None,None,NaT,244.902440,10.875465
3,203472,77427,163354,244787,2139-11-25 08:00:00,2139-11-25 11:00:00,225825,6.131904,ml,2.043968,...,ml,0,0,0,Changed,None,None,NaT,249.227830,2.038800
4,1461355,90650,154202,228989,2129-04-08 11:47:00,2129-04-08 21:04:00,225825,46.444120,ml,5.002957,...,ml,0,0,0,Stopped,None,None,NaT,71.292130,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,578946,90120,117195,282666,2186-03-04 08:00:00,2186-03-04 09:55:00,225910,15.333335,mg,8.000001,...,ml,0,0,0,Stopped,None,None,NaT,80.000000,8.000000
96,2927039,55477,184325,204235,2157-11-16 09:10:00,2157-11-16 13:29:00,225910,34.533338,mg,8.000001,...,ml,0,0,0,Stopped,None,None,NaT,80.000000,8.000000
97,1742421,25235,182008,251047,2167-06-20 22:00:00,2167-06-21 05:56:00,225910,79.360000,mg,10.003361,...,ml,0,0,0,FinishedRunning,None,None,NaT,79.360001,10.003360
98,966235,46034,199614,245855,2168-07-31 06:38:00,2168-07-31 16:35:00,225910,79.599998,mg,8.000000,...,ml,0,0,0,FinishedRunning,None,None,NaT,79.599998,8.000000
99,2483094,90764,110165,239536,2122-05-29 06:00:00,2122-05-29 15:47:00,225910,78.240009,mg,7.997275,...,ml,0,0,0,FinishedRunning,None,None,NaT,78.240005,7.997274